@import url(../css/normalize.css);
/* Basic Settings */
html {
  font-size: 10px;
}

.container {
  max-width: 1130px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.wrapper {
  max-width: 1920px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
}

/*  GLOBAL STYLES */
.section-title {
  font-size: 3.6rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 4.8rem;
  color: #D4C17F;
}

.header {
  max-width: 1920px;
  width: 100%;
  height: 840px;
  background: url(../img/header-bg.jpg) no-repeat center center/cover;
}
.header-site {
  padding-top: 3rem;
  margin-bottom: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Raleway", sans-serif;
  color: #fff;
}
.header-site-logo p {
  padding-top: 1.5rem;
  font-size: 1.2rem;
  letter-spacing: 0.13rem;
  text-transform: uppercase;
}
.header-site-menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-site-menu nav ul li {
  margin-right: 4rem;
  position: relative;
}
.header-site-menu nav ul li::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -7px;
  width: 100%;
  height: 1px;
  background-color: #D4C17F;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}
.header-site-menu nav ul li:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.header-site-menu nav ul li:last-child {
  margin-right: 0;
}
.header-site-menu nav ul li a {
  font-size: 1.4rem;
}
.header-title {
  max-width: 556px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10rem;
}
.header-title h1 {
  color: #D4C17F;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 6.4rem;
}
.header-mouse {
  width: 24px;
  height: 40px;
  margin: 0 auto;
  border: 3px solid #D4C17F;
  border-radius: 50px;
  position: relative;
}
.header-mouse::before {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 2px;
  height: 8px;
  border-radius: 50%;
  background-color: #D4C17F;
}
.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20rem;
  color: #fff;
  font-size: 1.8rem;
  font-family: "Raleway", sans-serif;
}
.header-contacts__place {
  margin-right: 136px;
  position: relative;
}
.header-contacts__place::before {
  content: "";
  display: block;
  position: absolute;
  left: -4rem;
  width: 15px;
  height: 21px;
  background: url(../img/icons/place.svg) no-repeat center/cover;
}
.header-contacts__tel {
  position: relative;
}
.header-contacts__tel::before {
  content: "";
  display: block;
  position: absolute;
  left: -4rem;
  width: 21px;
  height: 21px;
  background: url(../img/icons/phone.svg) no-repeat center/cover;
}

.features {
  padding: 12rem;
  background-color: #242B33;
  color: #fff;
}
.features-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.features-cards-card {
  text-align: center;
  max-width: 19.3rem;
}
.features-cards-card p {
  padding-top: 5rem;
  font-size: 2rem;
  line-height: 2.7rem;
  font-family: "Roboto", sans-serif;
}
.features-cards::before {
  position: absolute;
  top: -150px;
  right: -300px;
  content: "II";
  display: block;
  font-size: 400px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  opacity: 0.02;
  color: #fff;
}

.apartments {
  background-color: #242B33;
}
.apartments-cards {
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
.apartments-cards-card {
  max-width: 535px;
  margin-bottom: 3rem;
  position: relative;
}
.apartments-cards-card__title {
  position: absolute;
  left: 5rem;
  bottom: 5rem;
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 2.4rem;
}
.apartments-cards::before {
  content: "III";
  position: absolute;
  top: -170px;
  left: -230px;
  display: block;
  font-size: 400px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  opacity: 0.02;
  color: #fff;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 575px) and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 320px) and (max-width: 574px) {
  .container {
    max-width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */