.features
  padding: 12rem
  background-color: $color-bg-section
  color: $color-white
  &-cards
    @include flex(center,space-between)
    max-width: 80rem
    width: 100%
    margin: 0 auto
    position: relative
    &-card
      text-align: center
      max-width: 19.3rem
      p
        padding-top: 5rem
        font-size: 2rem
        line-height: 2.7rem
        font-family: $font-Roboto
    &::before
      position: absolute
      top: -150px
      right: -300px
      content: "II"
      display: block
      font-size: 400px
      font-weight: bold
      font-family: $font-Playfair
      opacity: .02
      color: #fff

.apartments
  background-color: $color-bg-section
  &-cards
    margin-top: 10rem
    @include flex(center,space-between)
    flex-wrap: wrap
    position: relative
    &-card
      max-width: 535px
      margin-bottom: 3rem
      position: relative
      &__title
        position: absolute
        left: 5rem
        bottom: 5rem
        font-family: $font-Raleway
        color: $color-white
        font-size: 2.4rem
    &::before
      content: "III"
      position: absolute
      top: -170px
      left: -230px
      display: block
      font-size: 400px
      font-weight: bold
      font-family: $font-Playfair
      opacity: .02
      color: #fff
  

.check-out
  background: url(../img/form-bg.jpg) no-repeat center / cover
  height: 560px